
<h1><%= @feature.title %></h1>

<%= @feature.description %>

<h2>Subscribers (<%= @feature.users.count %>)</h2>
<ul>
  <% @feature.users.each do |u| %>
    <li><%= u.email %></li>
  <% end %>
</ul>

<h2>Resources (<%= @feature.links.count %>)</h2>
<ul>
  <% @feature.links.each do |l| %>
    <li><%= l.name %>: <a href="<%= l.path %>"><%= l.path %></a></li> 
  <% end %>
</ul>

<h2>Attachments (<%= @feature.attachments.count %>)</h2>
<ul>
  <% @feature.attachments.each do |a| %>
    <li><%= a.name %></li>
  <% end %>
</ul>