<h1>Listing features</h1>

<table class="features pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
      <th>Launch Date String</th>
      <th>Attachments</th>
      <th>Links</th>
      <th></th>
    </tr>
  </thead>  
<% if @features %>
    <% @features.each do |feature| %>
      <tr>
        <td><a href="<%= feature_path(feature.id) %>"><%= feature.title %></a></td>
        <td><%= feature.code %></td>
        <td><%= feature.launch_date_string %></td>
        <td>
            <ul>
            <% feature.attachments.each do |a| %>
                <li><%= a.name %></li>
            <% end %>
            </ul>
        </td>
        <td>
            <ul>
            <% feature.links.each do |l| %>
                <li><%= l.name %></li>
            <% end %>
            <ul>
        </td>
        <td><%= link_to 'Edit', edit_feature_path(feature) %> | <%= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Feature', new_feature_path %>
