<h1>Listing features</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Attachments</th>
    <th>Links</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if @features %>
    <% @features.each do |feature| %>
      <tr>
        <td><%= feature.title %></td>
        <td><%= raw feature.description %></td>
        <td>
            <table>
            <tr>
            <% feature.attachments.each do |a| %>
                <td><%= a.name %></td>
            <% end %>
            </tr>
            </table>
        </td>
        <td>
            <table>
            <tr>
            <% feature.links.each do |l| %>
                <td><%= l.name %></td>
            <% end %>
            </tr>
            </table>
        </td>
        <td><%= link_to 'Show', feature %></td>
        <td><%= link_to 'Edit', edit_feature_path(feature) %></td>
        <td><%= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Feature', new_feature_path %>
