
<h1><%= @feature.title %></h1>
<p><%= @feature.code %></p>
<p><%= @feature.launch_date_string %></p>

<%= raw @feature.description %>

<h2>Subscribers (<%= @feature.users.count %>)</h2>
<ul>
  <% @feature.users.each do |u| %>
    <li><%= u.email %></li>
  <% end %>
</ul>

<h2>Resources (<%= @feature.links.count %>)</h2>
<ul>
  <% @feature.links.each do |l| %>
    <li><%= l.name %>: <a href="<%= l.path %>"><%= l.path %></a></li>
  <% end %>
</ul>

<h2>Attachments (<%= @feature.attachments.count %>)</h2>
<ul>
  <% @feature.attachments.each do |a| %>
    <li><%= a.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>